 <h2> < Movie Name - Language</h2>
   <h4> Theatre name| day, dd-mmmm-yyyy| time </h4>
<!-- show time slots -->

<div class="theatre">
 
  <div class="rows">
    <div class="row" *ngFor="let row of seats(); let i = index">
      <div
        class="seat"
        *ngFor="let seat of row"
        [class.available]="seat.status === 'available'"
        [class.booked]="seat.status === 'booked'"
        [class.selected]="seat.status === 'selected'"
        (click)="toggleSeat(seat)"
      >
        {{seat.row}}{{ seat.number + 1 }}
      </div>
    </div>
  </div>
  <div class="screen">SCREEN</div>


  <div class="summary">
    <p>Selected Seats: 
      <span *ngFor="let s of selectedSeats">
        [{{ s.row }}{{ s.number + 1 }}]
      </span>
    </p>
  </div>

  <div class="actions">
    <button (click)="bookSelectedSeats()" [disabled]="selectedSeats.length === 0">
      Book Selected Seats
    </button>
  </div>
</div>
